@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.snackbar{
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: #555;
  color: #fff;
  margin: 12px;
  padding: 12px;
  border-radius: 8px;
}
.snackbar p{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}
.snackbar span,.snackbar p{
  margin: 0px;
  margin-left: 12px;
}
